  <h2>Welcome to Stash! Your one stop shop for all your favorite collectibles.</h2>

      <h2>Browse products here:</h2>

<!-- Loop over each object in the products array -->
{{#each products as |product| }}
<div class="row mb-4 product">
  <div class="col-md-5">
    <h2>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      {{{get_emoji}}}
      <a href="/product/{{product.id}}">{{product.product_name}}</a>
    </h2>
    <p>
        Price:
      <span for="img" aria-label="money">💲</span>
      <!-- Pass needed_funding value to the helper function -->
      <span class="dollar-amount">{{product.price}}</span>
      
    </p>
    <p>Created by {{product.user.name}} </p></a>
  </div>
  <div class="col-md-7">
    <p>
    {{product.description}}
    </p>
  </div>
</div>
{{/each}}